header.header 
    .container.container--lg
        .header__inner 
            a.header__logo.logo(href="#") 
                img(src="@img/logo.svg", alt="logo")
            a.header__link(href="#") 
                img(src="@img/visa.svg", alt="visa logo")
            .header__phone 
                a.header__number(href="telto:88007707562") 8 800 770-75-62
                p.header__text.desktop Бесплатно по России