@font-face {
	font-family: ALSHauss;
	font-display: swap;
	src: url("../fonts/ALSHauss-Medium.woff2") format("woff2"), url("../fonts/ALSHauss-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
 }
@font-face {
	font-family: ALSHauss;
	font-display: swap;
	src: url("../fonts/ALSHauss-Regular.woff2") format("woff2"), url("../fonts/ALSHauss-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
 }
@font-face {
	font-family: Navigo;
	font-display: swap;
	src: url("../fonts/Navigo-Black.woff2") format("woff2"), url("../fonts/Navigo-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
 }
@font-face {
	font-family: Navigo;
	font-display: swap;
	src: url("../fonts/Navigo-Bold.woff2") format("woff2"), url("../fonts/Navigo-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
 }
@font-face {
	font-family: Navigo;
	font-display: swap;
	src: url("../fonts/Navigo-Regular.woff2") format("woff2"), url("../fonts/Navigo-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
 }
